.app_dark_theme {
    --bg-color: #2c2c2c;
    --inverted-bg-color: #e2cfc1;
    --primary-color: #ffd0a8;
    --shadow-primary-color: rgb(255 208 168 / 57%);
    --shadow-bg-color: rgb(44 44 44 / 58%);
    --shadow-inverted-color: rgba(226, 207, 193, 0.6);
    --secondary-color: #fff;
    --linear-font-color: linear-gradient(268.86deg, #ffd0a8 10.03%, rgb(255 208 168 / 28%) 118.88%);
    --sidebar-color: #e2cfc1;
    --sidebar-broder-color: #c3ae9d;
}