.app.light{
  --bg-color: #e2cfc1;
  --inverted-bg-color:#2C2C2C;
  --primary-color:#171D1C;
  --shadow-primary-color: rgba(23, 29, 28, 0.58);
  --secondary-color:#D4A600;
  --sidebar-color:#ea9c9c;
}