.app.light {
    --bg-color: #e2cfc1;
    --inverted-bg-color: #655151;
    --primary-color: #171d1c;
    --shadow-primary-color: rgb(23 29 28 / 58%);
    --shadow-bg-color: rgb(226 207 193 / 58%);
    --secondary-color: #d4a600;
    --sidebar-color: #ea9c9c;
}
