.app_light_theme {
    --bg-color: #ffdbbf;
    --inverted-bg-color: #655151;
    --primary-color: #171d1c;
    --shadow-primary-color: rgb(23 29 28 / 58%);
    --shadow-bg-color: rgb(226 207 193 / 58%);
    --shadow-inverted-color: rgba(101, 81, 81, 0.55); ;
    --secondary-color: #d4a600;
    --sidebar-color: #ccb099;
    --sidebar-broder-color: #fac89e;
}
