.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.background {
    background: none;
    color: var(--primary-color);
    font: var(--font-l);
    font-weight: 700;

    &:hover {
        color: var(--shadow-primary-color);
    }

    &:active {
        color: var(--primary-color);
    }
}

.inverted_background {
    background-color: var(--inverted-bg-color);
    color: var(--bg-color);
    font: var(--font-l);
    font-weight: 700;

    &:hover {
        color: var(--shadow-bg-color);
    }

    &:active {
        color: var(--bg-color);
    }
}

.background.shadow {
    color: var(--shadow-primary-color);

    &:hover {
        color: var(--primary-color);
    }

    &:active {
        color: var(--shadow-primary-color);
    }
}

.inverted_background.shadow {
    color: var(--shadow-bg-color);

    &:hover {
        color: var(--primary-color);
    }

    &:active {
        color: var(--shadow-bg-color);
    }
}

.lined {
    position: relative;
    z-index: 1;
}

.lined::after {
    content: "";
    position: absolute;
    border-radius: 6px 0;
    left: 0;
    bottom: 10%;
    width: 0;
    height: 5px;
    z-index: -1;
    background-color: var(--secondary-color);
}

.lined:hover {
    color: var(--primary-color);

    &::after {
        color: var(--secondary-color);
        width: 100%;
        transition: width 0.35s;
    }
}
.ellipse{
    border: none;
    border-radius: 50%;
    width: 188px;
    height: 70px;
    padding: 14px 18px;
    position: relative;
    font: var(--font-l);
    font-weight: 700;
    background-color:var(--inverted-bg-color);
    color: var(--shadow-bg-color);
    transition: transforn 0.2s ease-in-out;
    box-shadow: 1px 2px 6px var(--shadow-inverted-color);

    &:hover{
        background-color: var(--shadow-inverted-color);
        color:var(--primary-color)
    }
    &:active {
        transform: scale(0.9);
    }


}
.ellipse::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 50%;
    background-color: #fff0;
    transform: rotate(-30deg)  skew(46deg);
    transition: transform 0.5s ease,border-color 0.15s ease;
}
.ellipse:hover::after{
    border-color: var(--shadow-inverted-color);
    transform: rotate(0deg)  skew(0deg);
}


